![Königsweg Logo](../img/koenigsweg_150.png)

<span style="font-size: small;float: right;">&copy; 2015-2020 Alexander C.S. Hendorf, <a href="http://koenigsweg.com">Königsweg GmbH</a>, Mannheim </span>

---

# Analytics with  Pandas and Jupyterlab

---

# Data selection & Indexing

---

In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
%run 'helpers.py'

## Series

In [4]:
series = pd.Series([3, 62, 75, 83, 47, 43, 39, 16, 19, 2])

In [5]:
series

0     3
1    62
2    75
3    83
4    47
5    43
6    39
7    16
8    19
9     2
dtype: int64

### Access by Position / Slice

In [6]:
series[0]

3

In [7]:
series[3:6]

3    83
4    47
5    43
dtype: int64

In [8]:
series[:3]

0     3
1    62
2    75
dtype: int64

In [9]:
# series[3:6]
series.iloc[3:6]
# note [] not ()!

3    83
4    47
5    43
dtype: int64

### Access by label

In [10]:
# set alpha label as new index for the series
series.index = [x for x in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"][:len(series)]

In [11]:
series

A     3
B    62
C    75
D    83
E    47
F    43
G    39
H    16
I    19
J     2
dtype: int64

In [12]:
series['D']

83

In [13]:
series[3:6]
# position, pythonic

D    83
E    47
F    43
dtype: int64

In [14]:
series['D':'F']
# by label: slice includes end!

D    83
E    47
F    43
dtype: int64

In [15]:
series[['D':'F', 'I':'J']]
# cannot combine multiple ranges

SyntaxError: invalid syntax (<ipython-input-15-9a6e77a410bd>, line 1)

In [16]:
pd.concat([series['D':'F'], series['I':'J']])
# concat to combine multiple ranges

D    83
E    47
F    43
I    19
J     2
dtype: int64

In [17]:
# set alpha label as new index for the series
series.index = [x for x in "GATTACAXYZ"][:len(series)]

In [18]:
series

G     3
A    62
T    75
T    83
A    47
C    43
A    39
X    16
Y    19
Z     2
dtype: int64

In [19]:
series.loc['G']

3

In [20]:
series.loc['G':'A']
# non-unique values breaks slicing

KeyError: "Cannot get right slice bound for non-unique label: 'A'"

In [21]:
series.loc['X':'Z']
# while unique values are still slicable in a non-unique index

X    16
Y    19
Z     2
dtype: int64

In [22]:
series.loc['T']

T    75
T    83
dtype: int64

In [25]:
series.loc['T'], type(series.loc['T'])

(T    75
 T    83
 dtype: int64,
 pandas.core.series.Series)

In [26]:
series.loc['X'], type(series.loc['X'])

(16, numpy.int64)

## DataFrames, 2D Data

In [27]:
df = pd.read_json('../data/sampledf.json')

In [28]:
df

    0   1    2   3    4   5   6   7   8   9
0  79  19   21  99   35  59  44  25  75  58
1  25  39   89  66    9  41   6  69  63   3
2  37  64   31  69   61  97   5  11  76  57
3  74  61  100   6   58  80  95  50  15  51
4  79  60   83  85   16   5  16  69   5  20
5  45  26   73  73  100  60  21  19  95  12
6  12  29   18  98   62  68  92  29  74  96
7  36  32   22   4   66  25  63  51  59  14
8  55  53   89  13   84  87  74   3   2  64
9  46  74   36  54   21  12  68  33  80  25

In [29]:
# visualisation of below - for presentation
display(df.style.apply(highlight, subset=pd.IndexSlice[:, 2]))

# column
df[2]

0     21
1     89
2     31
3    100
4     83
5     73
6     18
7     22
8     89
9     36
Name: 2, dtype: int64

In [30]:
# visualisation of below - for presentation
display(df.style.apply(highlight, subset=pd.IndexSlice[range(2, 4), :]))

# column
df[2:4]

    0   1    2   3   4   5   6   7   8   9
2  37  64   31  69  61  97   5  11  76  57
3  74  61  100   6  58  80  95  50  15  51

In [31]:
# visualisation of below - for presentation
display(df.style.apply(highlight, subset=pd.IndexSlice[range(2, 4), range(3, 5)]))


# segment
df.iloc[2:4, 3:5]

    3   4
2  69  61
3   6  58

In [32]:
# visualisation of below - for presentation
display(df.style.apply(highlight, subset=pd.IndexSlice[:, range(2, 4)]))

# column slice
df.iloc[:, 2:4]

     2   3
0   21  99
1   89  66
2   31  69
3  100   6
4   83  85
5   73  73
6   18  98
7   22   4
8   89  13
9   36  54

In [33]:
df

    0   1    2   3    4   5   6   7   8   9
0  79  19   21  99   35  59  44  25  75  58
1  25  39   89  66    9  41   6  69  63   3
2  37  64   31  69   61  97   5  11  76  57
3  74  61  100   6   58  80  95  50  15  51
4  79  60   83  85   16   5  16  69   5  20
5  45  26   73  73  100  60  21  19  95  12
6  12  29   18  98   62  68  92  29  74  96
7  36  32   22   4   66  25  63  51  59  14
8  55  53   89  13   84  87  74   3   2  64
9  46  74   36  54   21  12  68  33  80  25

In [34]:
df.index = ["R{:02d}".format(i) for i in range(len(df))]

In [35]:
df.columns = ["C{:02d}".format(i) for i in range(len(df.columns))]

In [36]:
df

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R00   79   19   21   99   35   59   44   25   75   58
R01   25   39   89   66    9   41    6   69   63    3
R02   37   64   31   69   61   97    5   11   76   57
R03   74   61  100    6   58   80   95   50   15   51
R04   79   60   83   85   16    5   16   69    5   20
R05   45   26   73   73  100   60   21   19   95   12
R06   12   29   18   98   62   68   92   29   74   96
R07   36   32   22    4   66   25   63   51   59   14
R08   55   53   89   13   84   87   74    3    2   64
R09   46   74   36   54   21   12   68   33   80   25

In [37]:
# visualisation of below - for presentation
display(df.style.apply(highlight, subset=pd.IndexSlice[:, 'C05']))

df['C05']

R00    59
R01    41
R02    97
R03    80
R04     5
R05    60
R06    68
R07    25
R08    87
R09    12
Name: C05, dtype: int64

In [38]:
# visualisation of below - for presentation
#display(df.style.apply(highlight, subset=pd.IndexSlice[:, 'C05']))

df['R05']

KeyError: 'R05'

In [39]:
# visualisation of below - for presentation
display(df.style.apply(highlight, subset=pd.IndexSlice['R02':'R05', :]))


df['R02':'R05']

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R02   37   64   31   69   61   97    5   11   76   57
R03   74   61  100    6   58   80   95   50   15   51
R04   79   60   83   85   16    5   16   69    5   20
R05   45   26   73   73  100   60   21   19   95   12

In [40]:
# visualisation of below - for presentation
display(df.style.apply(highlight, subset=pd.IndexSlice['R02':'R05', 'C04':'C05']))


# segment
df.loc['R02':'R05', 'C04':'C05']

     C04  C05
R02   61   97
R03   58   80
R04   16    5
R05  100   60

### Excercise

In [41]:
sales_data = pd.read_excel('../data/blooth_sales_data_clean.xlsx')
sales_data.head(5)

,name,birthday,customer,orderdate,product,units,unitprice
0,Pasquale,1967-09-02,Electronics Inc,2016-07-17 13:48:03.157,Thriller record,2,13.27
1,India,1968-12-13,Electronics Resource Group,2016-07-06 13:48:03.157,Corolla,26,24458.69
2,Wayne,1992-09-10,East Application Contract Inc,2016-07-22 13:48:03.157,Rubik’s Cube,41,15.79
3,Cori,1986-11-05,Signal Industries,2016-07-23 13:48:03.157,iPhone,16,584.01
4,Chang,1972-04-23,Star Alpha Industries,2016-07-16 13:48:03.157,Harry Potter book,4,25.69

In [42]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
name         1000 non-null object
birthday     1000 non-null datetime64[ns]
customer     1000 non-null object
orderdate    1000 non-null datetime64[ns]
product      1000 non-null object
units        1000 non-null int64
unitprice    1000 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 54.8+ KB

Select columns two to four (three columns in total)

In [ ]:
# Your code here

In [44]:
# %load ../solutions/201.py
sales_data.iloc[:, 2:4+1]

,customer,orderdate,product
0,Electronics Inc,2016-07-17 13:48:03.157,Thriller record
1,Electronics Resource Group,2016-07-06 13:48:03.157,Corolla
2,East Application Contract Inc,2016-07-22 13:48:03.157,Rubik’s Cube
3,Signal Industries,2016-07-23 13:48:03.157,iPhone
4,Star Alpha Industries,2016-07-16 13:48:03.157,Harry Potter book
5,Network Application Co,2016-07-22 13:48:03.157,Lipitor
6,Omega Pacific Future Incorporated,2016-07-09 13:48:03.157,PlayStation
7,Medicine Incorporated,2016-07-16 13:48:03.157,Thriller record
8,Technology Direct Star Limited,2016-07-08 13:48:03.157,Rubik’s Cube
9,Provider Agency,2016-07-19 13:48:03.157,Star Wars
10,Technology International,2016-07-15 13:48:03.157,Star Wars
11,Technology Direct Star Limited,2016-07-20 13:48:03.157,iPad
12,Building Construction Group,2016-07-13 13:48:03.157,Corolla
13,Software Group,2016-07-09 13:48:03.157,PlayStation
14,Hill Pacific Analysis Co,2016-07-22 13:48:03.157,iPad
15,Virtual Limited,2016-07-11 13:48:03.157,Corolla
16,Industries Systems Bell Group,2016-06-30 13:48:03.157,Star Wars
17,Medicine Inc,2016-07-06 13:48:03.157,PlayStation
18,Construction Data Agency,2016-07-13 13:48:03.157,Thriller record
19,Graphics Systems Corporation,2016-07-15 13:48:03.157,Harry Potter book
20,Advanced Resource LLC,2016-07-26 13:48:03.157,Harry Potter book
21,South Consulting Corporation,2016-07-10 13:48:03.157,PlayStation
22,Atlantic Incorporated,2016-07-10 13:48:03.157,Rubik’s Cube
23,Vision Speed International,2016-07-15 13:48:03.157,iPhone
24,Building Research Frontier LLC,2016-07-02 13:48:03.157,Rubik’s Cube
25,General Corporation,2016-07-09 13:48:03.157,Harry Potter book
26,Vision Inc,2016-07-11 13:48:03.157,PlayStation
27,Interactive Net LLC,2016-07-15 13:48:03.157,Corolla
28,Net Speed Interactive Incorporated,2016-06-30 13:48:03.157,Corolla
29,Universal Application Speed Inc,2016-07-09 13:48:03.157,PlayStation
...,...,...,...
970,Hardware Speed Corporation,2016-07-08 13:48:03.177,Lipitor
971,Analysis Graphics Provider Incorporated,2016-07-07 13:48:03.177,Rubik’s Cube
972,Signal Industries,2016-07-12 13:48:03.177,iPhone
973,Star General Architecture LLC,2016-07-15 13:48:03.177,Rubik’s Cube
974,Technology International,2016-07-16 13:48:03.177,PlayStation
975,Frontier Alpha Future Co,2016-07-05 13:48:03.177,Harry Potter book
976,Solutions Contract Software Corporation,2016-07-01 13:48:03.178,PlayStation
977,General Corporation,2016-07-18 13:48:03.178,Rubik’s Cube
978,Galaxy Research Corporation,2016-07-19 13:48:03.178,iPad
979,Technology International,2016-07-05 13:48:03.178,Harry Potter book
980,Star General Architecture LLC,2016-07-23 13:48:03.178,iPhone
981,Source Agency,2016-07-11 13:48:03.178,Rubik’s Cube
982,Galaxy Architecture Systems Corporation,2016-07-21 13:48:03.178,iPad
983,Interactive International,2016-07-01 13:48:03.178,Corolla
984,Solutions Star Max Incorporated,2016-07-14 13:48:03.178,Star Wars
985,Source LLC,2016-07-16 13:48:03.178,Harry Potter book
986,Design Solutions Co,2016-07-13 13:48:03.178,iPad
987,Network Software West Inc,2016-07-21 13:48:03.178,Thriller record
988,Star Organization,2016-07-18 13:48:03.178,Star Wars
989,Virtual Limited,2016-07-04 13:48:03.178,Harry Potter book
990,Building Power Advanced Incorporated,2016-07-06 13:48:03.178,iPad
991,Graphics Design LLC,2016-07-11 13:48:03.178,Lipitor
992,Internet Power International,2016-07-07 13:48:03.178,iPad
993,Analysis Graphics Provider Incorporated,2016-07-13 13:48:03.178,banana
994,Hill People Industries Co,2016-07-10 13:48:03.178,Lipitor
995,Application Industries,2016-07-21 13:48:03.178,Harry Potter book
996,Network Software West Inc,2016-07-19 13:48:03.178,Rubik’s Cube
997,Atlantic Corporation,2016-07-13 13:48:03.178,Thriller record
998,Venture Alpha Corporation,2016-07-13 13:48:03.178,Harry Potter book
999,Provider Agency,2016-07-09 13:48:03.178,iPhone

Select the columns *birthday and name* (together)

In [ ]:
# Your code here

In [46]:
# %load ../solutions/202.py
sales_data[['birthday', 'name']]

      birthday        name
0   1967-09-02    Pasquale
1   1968-12-13       India
2   1992-09-10       Wayne
3   1986-11-05        Cori
4   1972-04-23       Chang
5   1953-03-17      Weldon
6   1977-10-23        Sung
7   1982-07-02       Emily
8   1963-07-02     Cornell
9   1977-10-14       Ervin
10  1985-07-05        Odis
11  1963-07-02     Cornell
12  1982-05-10       Kelli
13  1967-10-24    Rosalina
14  1984-11-29       Tracy
15  1962-12-04      Marion
16  1969-08-08     Doretha
17  1984-01-14       Zelma
18  1992-02-02       Galen
19  1952-10-17      Marcia
20  1984-05-30      Alaina
21  1993-08-01       Leigh
22  1980-10-15       Larry
23  1980-12-18        Chet
24  1981-08-08      Lottie
25  1982-12-24       Elyse
26  1978-12-13         Ron
27  1979-12-01      Robbin
28  1984-07-11        Dana
29  1973-03-26       Anton
..         ...         ...
970 1982-01-11    Giuseppe
971 1985-09-01      Lemuel
972 1986-11-05        Cori
973 1992-05-25     Arnoldo
974 1985-07-05        Odis
975 1972-02-04       Madge
976 1970-09-06        Dong
977 1982-12-24       Elyse
978 1979-08-23  Marguerite
979 1985-07-05        Odis
980 1992-05-25     Arnoldo
981 1982-01-16        Dena
982 1968-03-02     Tristan
983 1971-10-19      Darron
984 1967-10-23       Kasey
985 1976-06-10     Orlando
986 1978-06-28       Mitzi
987 1959-10-15     Rudolph
988 1974-04-11      Benito
989 1962-12-04      Marion
990 1985-03-06       Mayra
991 1972-05-25     Carmine
992 1980-07-15       Gayle
993 1985-09-01      Lemuel
994 1959-07-21      Maggie
995 1952-12-08       Ethan
996 1959-10-15     Rudolph
997 1982-06-04    Annmarie
998 1984-02-05       Chang
999 1977-10-14       Ervin

[1000 rows x 2 columns]

Select the rows 2 to 4 (three rows)

In [ ]:
# Your code here

In [47]:
# %load ../solutions/203.py
sales_data[2:5]

Select the rows 55, 77

In [ ]:
# Your code here

In [48]:
# %load ../solutions/204.py
sales_data.iloc[[55, 77]]

## Boolean Index

A boolean index is an array of true/false values: [1, 0, 1, 1, 0, 0, 1, …]

! though the index name it's not one of the Pandas Index Types.

In [49]:
df['C04']

R00     35
R01      9
R02     61
R03     58
R04     16
R05    100
R06     62
R07     66
R08     84
R09     21
Name: C04, dtype: int64

In [50]:
df['C04'] > 60

R00    False
R01    False
R02     True
R03    False
R04    False
R05     True
R06     True
R07     True
R08     True
R09    False
Name: C04, dtype: bool

In [51]:
df[   df['C04'] > 60    ]

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R02   37   64   31   69   61   97    5   11   76   57
R05   45   26   73   73  100   60   21   19   95   12
R06   12   29   18   98   62   68   92   29   74   96
R07   36   32   22    4   66   25   63   51   59   14
R08   55   53   89   13   84   87   74    3    2   64

In [52]:
df[(df['C04'] < 60) | (df['C04'] > 80)]  # multiple OR

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R00   79   19   21   99   35   59   44   25   75   58
R01   25   39   89   66    9   41    6   69   63    3
R03   74   61  100    6   58   80   95   50   15   51
R04   79   60   83   85   16    5   16   69    5   20
R05   45   26   73   73  100   60   21   19   95   12
R08   55   53   89   13   84   87   74    3    2   64
R09   46   74   36   54   21   12   68   33   80   25

In [53]:
df[(df['C04'] < 60) & (df['C04'] % 2 == 0)]  # multiple AND

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R03   74   61  100    6   58   80   95   50   15   51
R04   79   60   83   85   16    5   16   69    5   20

### Excercise

In [54]:
sales_data = pd.read_excel('../data/blooth_sales_data_clean.xlsx')
sales_data.head(5)

,name,birthday,customer,orderdate,product,units,unitprice
0,Pasquale,1967-09-02,Electronics Inc,2016-07-17 13:48:03.157,Thriller record,2,13.27
1,India,1968-12-13,Electronics Resource Group,2016-07-06 13:48:03.157,Corolla,26,24458.69
2,Wayne,1992-09-10,East Application Contract Inc,2016-07-22 13:48:03.157,Rubik’s Cube,41,15.79
3,Cori,1986-11-05,Signal Industries,2016-07-23 13:48:03.157,iPhone,16,584.01
4,Chang,1972-04-23,Star Alpha Industries,2016-07-16 13:48:03.157,Harry Potter book,4,25.69

In [ ]:
sales_data.info(5)

Find all rows with exactly 50 units

In [55]:
# Your code here
sales_data[sales_data['units'] == 50]

,name,birthday,customer,orderdate,product,units,unitprice
39,Jackie,1956-06-27,Frontier Graphics Resource LLC,2016-07-10 13:48:03.157,PlayStation,50,283.83
169,Giuseppe,1982-01-11,Hardware Speed Corporation,2016-07-16 13:48:03.160,Star Wars,50,10.89
200,Darron,1971-10-19,Interactive International,2016-07-25 13:48:03.160,Star Wars,50,9.99
222,Christen,1973-08-23,Max West Signal Group,2016-07-02 13:48:03.161,Thriller record,50,10.30
248,Chong,1972-09-22,General Technology Co,2016-07-02 13:48:03.161,PlayStation,50,205.80
270,Louisa,1986-01-29,Omega Incorporated,2016-07-13 13:48:03.162,banana,50,10.00
295,Neva,1996-05-27,Design Agency,2016-07-06 13:48:03.162,iPad,50,800.10
313,Wendy,1964-07-23,Future Net LLC,2016-07-11 13:48:03.163,banana,50,10.00
373,Robby,1981-03-11,Resource Speed Star Co,2016-07-25 13:48:03.164,Harry Potter book,50,31.95
404,Trent,1980-06-26,Innovation Frontier Industries,2016-07-18 13:48:03.165,iPhone,50,810.98
422,Opal,1981-02-10,South Frontier Bell Limited,2016-07-04 13:48:03.165,Rubik’s Cube,50,15.87
426,Rosalina,1967-10-24,Software Group,2016-07-25 13:48:03.165,banana,50,10.00
442,Chance,1965-02-28,Resource International,2016-07-18 13:48:03.165,PlayStation,50,268.12
466,Sandra,1968-01-21,Net LLC,2016-07-17 13:48:03.166,Star Wars,50,9.78
470,Tommy,1984-08-03,Analysis Solutions Limited,2016-07-16 13:48:03.166,Lipitor,50,10.72
522,Boyd,1974-10-12,Atlantic Network Galaxy Agency,2016-07-18 13:48:03.167,Star Wars,50,10.71
608,Tracy,1984-11-29,Hill Pacific Analysis Co,2016-07-03 13:48:03.170,PlayStation,50,219.77
652,Olin,1998-12-29,Design Research Agency,2016-07-12 13:48:03.171,Harry Potter book,50,27.68
713,Herbert,1977-09-08,Provider Adventure Group,2016-07-12 13:48:03.172,iPhone,50,482.95
754,Merrill,1978-06-07,Star Technology Industries,2016-07-07 13:48:03.173,banana,50,10.00
797,Luigi,1978-09-28,People General Star Organization,2016-07-22 13:48:03.174,Corolla,50,20176.71
833,Leanne,1993-05-14,Technology Limited,2016-07-11 13:48:03.175,iPad,50,448.44
838,Jonathan,1986-09-11,Research Industries,2016-07-09 13:48:03.175,Corolla,50,20696.08
852,Gracie,1974-05-03,Telecom Pacific Universal Organization,2016-07-04 13:48:03.175,iPhone,50,702.35
857,Delbert,1969-04-07,Architecture Galaxy Building Industries,2016-07-04 13:48:03.175,Corolla,50,20429.98
915,Michael,1985-05-26,Advanced People Telecom Incorporated,2016-07-04 13:48:03.176,iPad,50,748.35
983,Darron,1971-10-19,Interactive International,2016-07-01 13:48:03.178,Corolla,50,22776.03

In [56]:
# %load ../solutions/205.py
sales_data[sales_data['units'] == 50]

Find all rows with exactly 50 playstations

In [ ]:
# Your code here

In [58]:
# %load ../solutions/206.py

sales_data[
    (sales_data['units']==50)
    & 
    (sales_data['product']=='PlayStation')
]

,name,birthday,customer,orderdate,product,units,unitprice
39,Jackie,1956-06-27,Frontier Graphics Resource LLC,2016-07-10 13:48:03.157,PlayStation,50,283.83
248,Chong,1972-09-22,General Technology Co,2016-07-02 13:48:03.161,PlayStation,50,205.80
442,Chance,1965-02-28,Resource International,2016-07-18 13:48:03.165,PlayStation,50,268.12
608,Tracy,1984-11-29,Hill Pacific Analysis Co,2016-07-03 13:48:03.170,PlayStation,50,219.77

## filter

Filter by label or index

In [59]:
df.filter(like='2')  # , axis=1 per default

     C02
R00   21
R01   89
R02   31
R03  100
R04   83
R05   73
R06   18
R07   22
R08   89
R09   36

In [60]:
df.filter(regex='.0[2-4]', axis=0)

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R02   37   64   31   69   61   97    5   11   76   57
R03   74   61  100    6   58   80   95   50   15   51
R04   79   60   83   85   16    5   16   69    5   20

### Transpose with .T

In [61]:
df.iloc[2:3]

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R02   37   64   31   69   61   97    5   11   76   57

In [62]:
df.iloc[2:3].T

     R02
C00   37
C01   64
C02   31
C03   69
C04   61
C05   97
C06    5
C07   11
C08   76
C09   57

In [63]:
df

     C00  C01  C02  C03  C04  C05  C06  C07  C08  C09
R00   79   19   21   99   35   59   44   25   75   58
R01   25   39   89   66    9   41    6   69   63    3
R02   37   64   31   69   61   97    5   11   76   57
R03   74   61  100    6   58   80   95   50   15   51
R04   79   60   83   85   16    5   16   69    5   20
R05   45   26   73   73  100   60   21   19   95   12
R06   12   29   18   98   62   68   92   29   74   96
R07   36   32   22    4   66   25   63   51   59   14
R08   55   53   89   13   84   87   74    3    2   64
R09   46   74   36   54   21   12   68   33   80   25

In [66]:
id(df.T), id(df)

(4713645904, 4659152080)

### Formatting with Styler

In [67]:
df = pd.read_json('../data/sampledf.json')
df

    0   1    2   3    4   5   6   7   8   9
0  79  19   21  99   35  59  44  25  75  58
1  25  39   89  66    9  41   6  69  63   3
2  37  64   31  69   61  97   5  11  76  57
3  74  61  100   6   58  80  95  50  15  51
4  79  60   83  85   16   5  16  69   5  20
5  45  26   73  73  100  60  21  19  95  12
6  12  29   18  98   62  68  92  29  74  96
7  36  32   22   4   66  25  63  51  59  14
8  55  53   89  13   84  87  74   3   2  64
9  46  74   36  54   21  12  68  33  80  25

In [68]:
df.style.highlight_min()

In [69]:
def odd_or_even(data):
    return [('background-color: green; color:white;' if x%2==0 else 'background-color: orange') 
            for x in data]
df.style.apply(odd_or_even)